body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #343a40;
}

.table td, .table th {
    vertical-align: middle;
}

.navbar-brand {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container.mt-5.mb-5 {
    margin-bottom: 100px; /* Adds space to ensure the footer does not overlap */
}
